.App {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.List {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.List + .List {
  margin-top: 20px;
}

.List > header {
  font-size: 24px;
  margin: 10px 0;
}

.List > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem + .ListItem {
  margin-top: 10px;
}

.ListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ListItem > .label {
  width: 310px;
  overflow-wrap: break-word;
}

.ListItem > .value {
  width: 50px;
  text-align: right;
}
